<ion-view title="Browse">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <h1>Dati partita</h1>
  <div>
      <div class="row">
          <div class="col">
              <h4>{{$storage.partita[0]['giocatore1']}}</h4>
              <ol>
                  <li ng-repeat="p in punteggi1">
                  {{p.p1}} 
                  </li>
              </ol>
          </div>
          <div class="col">
              <h4>{{$storage.partita[0]['giocatore2']}}</h4>
              <ol>
                  <li ng-repeat="p in punteggi2">
                  {{p.p2}}
                  </li>
              </ol>
          </div>
      </div>

  </div>
  <section ng-controller="DemoCtrl">
    <div ui-chart="someData" chart-options="myChartOpts" ></div>
    </section>
  </ion-content>
</ion-view>
