<ion-view title="Browse">
<ion-nav-buttons side="left">
<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content class="has-header">

<div class="item item-divider" ng-if="chart">
    Punteggio per tipo
</div>

<div ng-controller="StatsCtrl2" ng-if="chart">
    <canvas barchart options="barOptions" data="chart" width="320" height="300"></canvas><br />
    <div class="item">
        <div class="col">
            <b>{{giocatore1}}</b>
        </div>
        <canvas polarchart options="polarOptions" data="chart1" width="300" height="300" ></canvas>
    </div>
    <div class="item">
        <div class="col">
            <b>{{giocatore2}}</b>
        </div>
        <canvas polarchart options="polarOptions" data="chart2" width="300" height="300"></canvas>
    </div>
</div>

<div class="item">{{messaggio}}</div>
</ion-content>
</ion-view>
