/* Empty. Add your own CSS if you like */

.palline {
    font-size: 20px;
}

.rosse-icon {
    color : red;
}

.bianche-icon {
    color : #ffffff;
}

.punti {
    font-size: 20px;
    padding: 6px;
}

.destra {

    text-align: right;
}

.punti-rossi {
}

.punti-bianchi {
}

.sets {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    padding: 6px;
}
