/* Empty. Add your own CSS if you like */

.palline {
    font-size: 20px;
}

.rosse-icon {
    color : red;
}

.bianche-icon {
    color : #ffffff;
}

.punti {
    font-size: 20px;
    padding: 6px;
    border: 1px solid #000000;
}

.destra {

    text-align: right;
}

.punti-rossi {
    /*color: red;*/
    /*background-color:red;*/
}

.punti-bianchi {
    /*background-color: white;*/
    /*color: white;*/
}

.sets {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    padding: 6px;
    /*border: 1px solid blue;*/
    /*text-align: right;*/
}
