/* Empty. Add your own CSS if you like */

.palline {
    font-size: 20px;
}

.rosse-icon {
    color : red;
}

.bianche-icon {
    color : #ffffff;
}

.punti {
    font-size: 20px;
    padding: 6px;
}

.destra {

    text-align: right;
}

.punti-rossi {
}

.punti-bianchi {
}

.sets {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    padding: 6px;
}

#chart {
    height: 200px;
    width: 400px;
}

.table, tbody, tfoot {
    margin: 0 0.5em;
}

.table td.sets {
    background-color: blue;
    color: white;
    text-align: center;
}

.table th {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 4px;
    text-align: right;
    border-left:2px solid black;
    border-right:2px solid black;
}

.table tbody td {
    padding: 6px;
    text-align: right;
    border-bottom:2px solid black;
    border-left:2px solid black;
    border-right:2px solid black;
}
